<html>
  <head>
    
    <title>Registration</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="cropperjs/dist/cropper.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <style>
        /* 000000 FFFFFF E18A07 C0C0C0 */
        
        body, html{
          height: 100%;
          }
          body{
          margin: 0
          }
        
            
            .navbar{
              background-color: black;
            }
            
            
            /* NOTE: Cover */
            .profile-row{
            margin-right:0;
            }
            .col-cover{
            margin-left: -3rem;
            }
            .cover {
              text-align: center;
              max-width: 60rem;
              border-radius: 0.5rem;
              margin-left: 7rem;
              margin-top: 2rem;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
            }
            
            #cover-img{
              width: 100%;
              border-radius: 0.5rem;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
            }
           .profile-done,.done,.result{
            display: none;
           }
           #cover-file,#profile-file{
           display: none;
          color: blue;
           border: 0.1rem solid black;
           border-radius: 0.2rem;
           -webkit-border-radius: 0.2rem;
           -moz-border-radius: 0.2rem;
           -ms-border-radius: 0.2rem;
           -o-border-radius: 0.2rem;
           width: 6.2rem;
        }
        
         .cover-edit-btn{
          margin-top: -12%;
          
          margin-right: -95%;
            border: none;
            outline: none;
           
         }
        
          .cover-edit-icon{
            color:white;
           padding: 0%;
            
            font-size: 1rem;
            cursor: pointer;
          }
          #label{
            display: none;
          }
          .result{
            display: none;
          }
        
          .modal-content{
           
            height: 35rem;
            width: 40rem;
            text-align: center;
            margin: auto;
        }
        
        
        
          #croping-image{
            width: 100%;
           
          }
            .box-2 {
            padding: 0.5em;
            width: calc(100% / 2 - 1em);
          }
            /* NOTE: Profile */
            .pic-name-col{
              text-align: center;
              width: 10rem;
              margin: 1rem;
              border: none;
            
            }
            .profile-row-under{
              max-width: 60rem;
              border-radius: 0.5rem;
              margin: 0;
              padding: 0;
              margin-left: 7rem;
              margin-top: 0.5rem;
              border: 0.1rem solid #C0C0C0;
              border-top-right-radius: 0;
              border-top-left-radius: 0;
              margin-bottom: 1rem;
            
            
            }
            .profile-img{
              border-radius: 50%;
              max-width: 10rem;
              border: 0.1rem solid #C0C0C0;
            
            }
          
        
        
            .profile-edit-icon{
        
            color: black;
            font-size: 1rem;
            cursor: pointer;
            margin-left: 10px;
           
            }
            .name{
              font-weight: 600;
              font-size: 1.5rem;
              color: black;
              margin: 0;
              padding: 0;
              margin-left: 2rem;
            }
            .college-field-col{
            padding: 0;
            margin-top: 1rem;
            margin-left: 0.5rem;
            margin-left: 4rem;
            }
            
            .field{
              font-size: 1rem;
              font-weight: 500;
            
            
            }
            .college{
              font-size: 1rem;
              font-weight: 300;
            }
            .skills-div{
              width: 14rem;
            }
            .skill{
              background-color: #c0c0c0;
              border-radius: 0.2rem;
              padding: 0.4rem;
              color: black;
              text-align: center;
              margin: 0.2rem;
              display: inline-block;
            }
            
            /* NOTE: About div */
            .about-div{
              background-color: #c0c0c0;
              border-radius: 0.5rem;
              padding: 0.5rem;
              margin-top: 1rem;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
            
            .chellenges-col{
              margin-top: 2rem;
              border-radius: 0.5rem;
              border: 0.1rem solid #c0c0c0;
              height: 35rem;
              overflow-x: hidden;
              overflow-y: auto;
              text-align: center;
            }
            
            .chellenges-profile-col{
              text-align: center;
              background-color: #c0c0c0;
              border-radius: 0.5rem;
              border: 0.2rem solid White;
              margin: 0.2rem;
            }
            .chellenge-profile-name{
              font-weight: 300;
              font-size: 1rem;
            }
            
            .chellenge-profile-img{
              border-radius: 50%;
              max-width: 5rem;
              border: 0.1rem solid #C0C0C0;
            }
            
            
            .friends-number-link{
              text-decoration: none;
              font-size: 1rem;
            
            }
            .chellenge-follow-btn{
              border-radius: 0.5rem;
              background-color:  #E18A07;
              padding: 0rem 0.5rem;;
            }
            
        
        
        
            
        
            .f-icon{
              font-size:1.8rem;
              text-decoration: none;
            }
        
        
            .copyright{
              text-decoration: none;
            }
        .my-5{
          margin: 0;
        }
        .footer-features a{
          text-decoration: none;
        
        }
        
        
        
        .card-box {
          padding: 2px;
          border-radius: 1rem;
          margin-bottom: 3px;
          background-color: #fff;
          border: 0.5rem solid black;
        }
        
        .social-links li a {
          border-radius: 50%;
          color: rgba(121, 121, 121, .8);
          display: inline-block;
          height: 20px;
          line-height: 5px;
          border: 2px solid rgba(121, 121, 121, .5);
          text-align: center;
          width: 20px
        }
        
        .social-links li a:hover {
          color: #797979;
          border: 2px solid #797979
        }
        .thumb-lg {
          height: 50px;
          width: 50px;
        }
        .img-thumbnail {
          padding:2px;
          background-color: #fff;
          border: 1px solid #dee2e6;
          border-radius: .25rem;
          max-width: 100%;
          height: auto;
        }
        .text-pink {
          color: #ff679b!important;
        }
        .btn-rounded {
          border-radius: 2em;
        }
        .text-muted {
          color: #98a6ad!important;
        }
        h4 {
          line-height: 10px;
          font-size: 12px;
        }
        
        
        .chellenges-profile-container{
          overflow: auto;
          white-space: nowrap;
          max-width: 100%;
          padding: 4rem 4rem;
         
        }
              .nav-link{
                color: white;
                font-size: 1.3rem;
              }
              .active{
                
                color: rgb(225, 207, 11);
              }
        
              .card-box {
        padding: 2px;
        border-radius: 1rem;
        margin-bottom: 3px;
        background-color: #fff;
        border: 0.5rem solid black;
        }
        
        .social-links li a {
        border-radius: 50%;
        color: rgba(121, 121, 121, .8);
        display: inline-block;
        height: 20px;
        line-height: 5px;
        border: 2px solid rgba(121, 121, 121, .5);
        text-align: center;
        width: 20px
        }
        
        .social-links li a:hover {
        color: #797979;
        border: 2px solid #797979
        }
        .thumb-lg {
        height: 50px;
        width: 50px;
        }
        .img-thumbnail {
        padding:2px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
        }
        .text-pink {
        color: #ff679b!important;
        }
        
        .text-muted {
        color: #98a6ad!important;
        }
        
        .content h4 {
        line-height: 10px;
        font-size: 12px;
        }
        
        
        .chellenges-profile-container{
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        padding: 1rem;
        
        }
        .chellenges-profile-container::-webkit-scrollbar {
          display: none;
        }
        
        
        .pbox{
          display: inline-block;
          width: 15rem;
          height: 15rem;
          margin: 0.5rem;
        }
        
        
        
        .pimgdiv{
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          width: 3rem;
          height:3rem;
         margin-bottom: 1rem;
        }
        .pimg{
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
        }
        .creategroup,.groupname{
          margin-left: 93%;
        }
        
              
            </style>
  </head>
<body >
<!-- NOTE: Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#campus-tree">Campus Tree </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-toggle" aria-controls="nav-toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ticon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-toggle">
        <div class="navbar-nav">
          <a class="nav-link "  href="#">Home</a>
          <a class="nav-link active"aria-current="page" href="#"> Profile</a>
          <a class="nav-link" href="#">Chellenges</a>
          <a class="nav-link" href="#">Friends</a>
          <a class="nav-link" href="#">Community</a>
        </div>
      </div>
     
    </div>
  </nav>
 

<div class="row profile-row">
  <div class="col-md-8 col-cover">
    <div class="cover">

     
     

      <img id="cover-img"src="<%=cover_image%>"  alt="">
      

      <!-- <button type="button" class="btn cover-edit-btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="    height: 16%;">
        <i class="fa-solid fa-pen-to-square  cover-edit-icon"></i>
      </button> -->
    </div>
    <div class=" row profile-row-under">
      <div class="col-sm-6 pic-name-col">

        
        

        <img class="profile-img"src="<%=profile_image%>" alt="" style="height: 150px;">

       

        <!-- <button type="button" class="btn cover-edit-btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <i class="fa-solid fa-pen-to-square  profile-edit-icon"></i>
        </button> -->
        <div class="name">
          <%= fullname  %>
        </div>
      </div>
    <div class="col-sm-6 college-field-col">
        <div class="field container">
         <%=userid%>
        </div>
        <div class="college container">
          <%=college%>
        </div>
      <div class="skills-div">

        <% for(var i=0; i<interest.length; i++) {%>
          

          <div class="skill">
            <%= interest[i] %>
          </div>
       <% } %>
<!--         
        <div class="skill">
          HTML
        </div>
        <div class="skill">
          CSS3
        </div>
        <div class="skill">
          JS
        </div>
        <div class="skill">
          Bootstrap
        </div>
        <div class="skill">
          DOM
        </div>
        <div class="skill">
          Node.js
        </div> -->
      </div>
    </div>
    <div class="about-div">
      <h4 class="about-heading">About</h4>
    <div><%= about%></div> 
    </div>
    </div>
  </div>





  <!-- Chellenges Baar at the Right side of Profile section      1 -->
  <div style="padding: 5px;" class="col-md-4 chellenges-col container scrol">
    <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
      <div style="color: #ffffff;"><h3>100DaysOfCode</h3> </div>
      <div style="margin-top: -1rem;" class="col-sm-8">
    <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
    <div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
  </div>
  <div class="col-sm-4">
    <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
  </div>
</div>
 <!-- Chellenges Baar at the Right side of Profile section      2-->
  <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
    <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
    <div style="margin-top: -1rem;" class="col-sm-8">
  <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
  <div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
</div>
<div class="col-sm-4">
  <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
</div>
</div>
 <!-- Chellenges Baar at the Right side of Profile section      2-->
 <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
  <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
  <div style="margin-top: -1rem;" class="col-sm-8">
<div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
<div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
</div>
<div class="col-sm-4">
<button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
</div>
</div> <!-- Chellenges Baar at the Right side of Profile section      2-->
<div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
  <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
  <div style="margin-top: -1rem;" class="col-sm-8">
<div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
<div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
</div>
<div class="col-sm-4">
<button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
</div>
</div> <!-- Chellenges Baar at the Right side of Profile section      2-->
<div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
  <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
  <div style="margin-top: -1rem;" class="col-sm-8">
<div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
<div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
</div>
<div class="col-sm-4">
<button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
</div>
</div> <!-- Chellenges Baar at the Right side of Profile section      2-->
<div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;">
  <div style="color: #ffffff;"><h3>Project Pramath</h3> </div>
  <div style="margin-top: -1rem;" class="col-sm-8">
<div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
<div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
</div>
<div class="col-sm-4">
<button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
</div>
</div>
 <!-- Chellenges Baar at the Right side of Profile section      3 -->
  <div class="row" style="background-color: rgb(133, 142, 164); border: 2px solid black; border-radius: 0.8rem; max-width: 100%; height: 8rem; text-align: left;  margin: 4px; margin-top: 10px;; margin-top: 10px;; margin-top: 10px;">
    <div style="color: #ffffff;"><h3>Leet Code Series</h3> </div>
    <div style="margin-top: -1rem;" class="col-sm-8">
  <div><h3 style="font-size: 1.5rem;   margin-bottom: 0%;"></h3>People <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">55</a></span> </h3></div>
  <div><h3  style="font-size: 1.5rem; margin-bottom: 0%;"></h3>Days Remaning <span><a style="text-decoration: none; font-weight: 1rem;color: white;" href="">76</a></span> </h3></div>
</div>
<div class="col-sm-4">
  <button style="width: 6rem; height: 2rem; background-color: rgb(11, 138, 188); border-radius: 0.3rem; margin-left: -2.5rem;margin-top: -0.5rem;">JOIN</button>
</div>
</div>
<!-- End of all 3 Chellenges baar chellenge will be fetched from DB -->
</div>

<!-- End of Profile  -->





<!-- Start of challenges Profile Recomendations -->
<div class="content" style="width: 95%">
  <div id="profiless" class="container chellenges-profile-container" style="margin-left: 3%   ;display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  gap: 23px;
  align-items: center;">
    <!--Profiles-->




    <!---
          <div style="display:inline-block; ">
              <div style="width: 15rem;" style="width: 15rem;" class="text-center card-box">
                  <div  class="member-card pt-2 pb-2">
                      <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                      <div class="">
                          <h4>Rahul</h4>
                          <p class="text-muted">@Webdeveloper</p>
                      </div>
                      <ul class="social-links list-inline">
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                      </ul>
                      <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                      <div class="mt-4">
                          <div class="row">
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>Followers</h4>
                                      <p  class="mb-0 text-muted">500</p>
                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>Followings</h4>
                                      <p class="mb-0 text-muted">60</p>
                                  </div>
                              </div>
                              <div class="col-4">
                                  <div class="mt-3">
                                      <h4>CP</h4>
                                      <p class="mb-0 text-muted">23</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end col 
          <div style="display:inline-block">
            <div style="width: 15rem;" class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                    <div class="">
                        <h4>Rahul</h4>
                        <p class="text-muted">@Webdeveloper</p>
                    </div>
                    <ul class="social-links list-inline">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                    <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-4">
                                <div class="mt-3">
                                    <h4>Followers</h4>
                                    <p  class="mb-0 text-muted">500</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-3">
                                    <h4>Followings</h4>
                                    <p class="mb-0 text-muted">60</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-3">
                                    <h4>CP</h4>
                                    <p class="mb-0 text-muted">23</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
          <!-- end col -->
          
      <!-- col end here -->
      <!-- <div style="display:inline-block">
        <div style="width: 15rem;" class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                <div class="">
                    <h4>Rahul</h4>
                    <p class="text-muted">@Webdeveloper</p>
                </div>
                <ul class="social-links list-inline">
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-3">
                                <h4>Followers</h4>
                                <p  class="mb-0 text-muted">500</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4>Followings</h4>
                                <p class="mb-0 text-muted">60</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mt-3">
                                <h4>CP</h4>
                                <p class="mb-0 text-muted">23</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        <!-- end col -->
        
    </div>

 
  <!-- container -->
</div>

</div>




<!-- Button trigger modal -->


<!-- Modal 
<div class="modal fade modal2" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close cross" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body dialog-body">
        <input type="file" name="" id="cover-file" accept="image/png,image/jpeg,image/jpg">
        <input type="file" name="" id="profile-file"  accept="image/png image/jpeg image/jpg">
        <div class="box-2">
          <div class="result"></div>
          </div>
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-name" data-bs-dismiss="modal" style="display: none;">Close</button>
        <button type="button" class="btn btn-primary done" data-bs-dismiss="modal">Done</button>
        <button type="button" class="btn btn-primary profile-done" data-bs-dismiss="modal">Profile-Done</button>


      </div>
    </div>
  </div>
</div>

-->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #3f51b5">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="footer-features row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="  col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Hackthon</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Find Your Comminity</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Join Chellenges</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Events In Colleges</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Projects</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class=" f-icon text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class=" f-icon text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class=" f-icon text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="f-icon text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="f-icon text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class=" f-icon text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class=" copyright text-white" href="https://mdbootstrap.com/"
         >Campustree.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<h1 id="jes">

</h1>
<!-- End of .container -->




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/1b26aa43df.js" crossorigin="anonymous"></script>
<script src="cropperjs/dist/cropper.min.js"></script>

  </body>
  

  <script >
   const coverImage=document.getElementById("cover-img");
    const coverFile=document.getElementById("cover-file");
    const profileFile=document.getElementById("profile-file");
    const done=document.getElementsByClassName("done")[0];
    const cropingImage=document.getElementById("croping-image");
    const result=document.getElementsByClassName("result")[0];
    const profileImage=document.getElementsByClassName("profile-img")[0];
    const coverIcon=document.getElementsByClassName("cover-edit-icon")[0];
    const profileIcon=document.getElementsByClassName("profile-edit-icon")[0];
    //button
    const profileDone=document.getElementsByClassName("profile-done")[0];
    const cross=document.getElementsByClassName("cross")[0];
    const close=document.getElementsByClassName("close-name")[0];
    cropper="";
   
    
   
   
   
   
   
   
  
   
  
   

   
   
   
   
   
   
   

 window.onload = async()=>{
    // your code here
console.log("okay");
    const response = await fetch("http://localhost:3000/other_profile", {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
       headers: {
        'Content-Type': 'application/json'

       },

        // body data type must match "Content-Type" header
    }).then((Response)=>{
      return Response.json();
    }).then((data)=>{
      console.log(data);

let profiless=document.getElementById("profiless");


data.forEach((data,n)=>{


  let pbox=document.createElement("div");
  pbox.setAttribute("class","pbox");
  profiless.appendChild(pbox);
  user_id=data.user_id.toString();
console.log(data.user_id.toString());
pbox.innerHTML+=`
   
      <div class="text-center card-box">
        <div class="number-card pt-2 pb-2">
          <div class="thumb-lg number-thumb mx-auto pimgdiv">
            <img class="pimg" src=${data.profile_image}></div><div>
              <h4 id="fname"> ${data.fullname}</h4>
              <h4 id="fcollege">@${data.user_id}</h4>
              <p id="field">${data.college}</p></div>
              <button class="btn btn-primary" onclick="seeProfile('${user_id}')" >view profile</button><p><span></span></p>
              <p>score:0</p><p></p></div></div>`;
              
              
            });
    
          
          })
    
};


const seeProfile=((userId)=>{
//post requests
console.log(userId);


 window.location.href= "/user/"+userId;
  
});

    </script>


</html> 